/* ImportBootstrap */
@import url('http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css');

/* Global Styles */
html, body {
	height: 100%;
	width: 100%;
}
.vert-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}
.vert-text h1 {
	padding: 0;
	margin: 0;
	font-size: 4.5em;
	font-weight: 700;
}
/* Side Menu */
#sidebar-wrapper {
	margin-right: -200px;
	right: 0;
	width: 200px;
	background: #000;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 200px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar-nav li {
	line-height: 40px;
	text-indent: 20px;
}
.sidebar-nav li a {
	color: #999999;
	display: block;
	text-decoration: none;
}
.sidebar-nav li a:hover {
	color: orange;
	background: rgba(255, 255, 255, 0.2);
	text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	height: 55px;
	line-height: 55px;
	font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
	color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
	color: orange;
	background: none;
}
#menu-toggle {
	top: 0;
	right: 0;
	position: fixed;
	z-index: 1;
}
#sidebar-wrapper.active {
	right: 200px;
	width: 200px;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.toggle {
	margin: 5px 5px 0 0;
}
/* Full Page Image Header Area */
.header {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	background: url(../img/DC1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 50px 0;
}
/* Intro */
.intro {
	padding: 50px 0;
	background: url(../img/Mouth2.jpg) no-repeat center right fixed;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
}
/* Portfolio */
.portfolio {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 50px 0;
	color: #ffffff;
}
.portfolio-item {
	margin-bottom: 15px;
}
i.portfolio-icon {
	border: 3px solid orange;
	border-radius: 50%;
	display: inline-block;
	font-size: 56px;
	width: 140px;
	height: 140px;
	line-height: 136px;
	vertical-align: middle;
	text-align: center;
}
/* Callout */
.callout {
	color: #ffffff;
	display: table;
	height: 400px;
	width: 100%;
	background: url(../img/leonardo.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* Skills */
.skills {
	padding: 50px 0;
}
.skill-item {
	margin-bottom: 25px;
}
.img-skill {
	margin: 0 auto;
}
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
	-moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
	-ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
	-o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
	transform: translateY(-20px) perspective(600px) rotateX(10deg);
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(600px) rotateX(0);
	-moz-transform: translateY(0) perspective(600px) rotateX(0);
	-ms-transform: translateY(0) perspective(600px) rotateX(0);
	-o-transform: translateY(0) perspective(600px) rotateX(0);
	transform: translateY(0) perspective(600px) rotateX(0);
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
	-moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
	-ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
	-o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
	transform: translateY(-10px) perspective(600px) rotateX(10deg);
}
/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
#popup {
	background: rgba(255, 255, 255, 0.7);
	padding: 20px 30px;
	text-align: center;
	width: 40%;
	height: 40%;
	margin: auto;
	position: relative;
}
/*
.label-inverse {
background-color: #ffffff;
}

.label-inverse[href]:hover,
.label-inverse[href]:focus {
background-color: #999999;
}      */

/* Contact */
.contact {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 50px 0;
}
i.social {
	color: orange;
}
i.social:hover {
	color: white;
}
/* Footer */
footer {
	padding: 100px 0;
}
.top-scroll {
	margin-bottom: 50px;
}
.top-scroll a {
	text-decoration: none;
	color: inherit;
}
i.scroll {
	color: orange;
}
i.scroll:hover {
	color: rgba(0, 0, 0, 0.7);
}
/*svg {
width:50%;
height:50%;
}  */
#shout {
	display: none;
	background: white;
}
.btn-link {
	color: #f0ad4e;
}
.popover-title {
	background-color: #f0ad4e;
}
.question {
	width:18em;
	height:6em;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	border-radius: 5%;
	background-color:#1A1A1A;
	opacity: 0.8;
	padding: .5em;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.question:hover {
	-webkit-border-radius: 25%;
	-moz-border-radius: 25%;
	border-radius: 25%;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
	opacity: 1;
}
.btn {
	white-space: normal;
}
/*.row {
display: table;
}

[class*="col-"] {
float: none;
display: table-cell;
vertical-align: top;
}*/
.colearn1 {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	background: url(../img/brickback.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 50px 0;
}
iframe {
	overflow: hidden;
}
	/* Responsive */
	@media (max-width: 768px) {
		.header {
			background: url(../img/DC1.jpg) no-repeat center center scroll;
		}
		.callout {
			background: url(../img/leonardo.jpg) no-repeat center center scroll;
		}
		.colearn1 {
			background: url(../img/brickback.jpg) no-repeat center center scroll;
		}
	}