body {
    font-family:'Josefin Slab';
    color: #ffffff;
    font-size: large;
    margin:0px auto;
    padding:30px;
    vertical-align: middle;
	background: #eeeeee;
	background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: linear-gradient(top, #eeeeee, #cccccc 100%);
	background-attachment:fixed;
	text-align: center;
}
h1 {
    text-shadow: 3px 3px 10px #f8b74f;
    font-weight:800;
    font-size: 48px;
    font-family:'Fugaz One', cursive;
}
h2 {
	text-align: justify;
	font-family:'Josefin Slab';
	font-weight: bold;
}
p {
    text-align:center;
}
section {
    height: 600px;
    overflow:auto;
    background-color: #00ccff;
    border: 10px solid #f6b33d;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 5px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px 5px #000000;
    box-shadow: 0px 0px 5px 5px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    /*IE 7 AND 8 DO NOT SUPPORT SPREAD PROPERTY OF SHADOWS*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#4a81ff', endColorstr='#000000');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#4a81ff', endColorstr = '#000000')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(left, #00ccff, #000000);
    background-image: -ms-linear-gradient(left, #00ccff, #000000);
    background-image: -o-linear-gradient(left, #00ccff, #000000);
    background-image: -webkit-gradient(linear, left top, right top, from(#00ccff), to(#000000));
    background-image: -webkit-linear-gradient(left, #00ccff, #000000);
    background-image: linear-gradient(left, #00ccff, #000000);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
    /*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity=30);
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/
    ;
}
#about{
	z-index: 50
}
#projects{
	z-index: 40
}
#resume{
	z-index: 30
}
#contact{
	z-index: 20
}
ul
{
    list-style-type: none;
}
#navigationMap{
	position: fixed;
	right:20px;
	bottom:20px;
	width: 140px;
	height:50px;
	z-index: 999;
}
#navigationMap ul li a{
	background: #f6b33d;
	height:15px;
	width: 15px;
	border:5px solid #fff;
	border-radius:5px;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
	position: fixed;
}
#navigationMap  :hover{
	background:#fff;
	border:5px solid #f6b33d;
	border-radius:5px;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
#navigationMap .pr {
  margin-left: 25px; }
#navigationMap .re {
  margin-left: 50px; }
#navigationMap .co {
  margin-left: 75px; }
#scrollbar {
    position:fixed;
    right:2px;
    height:50px;
    width:6px;
    background:#f6b33d;
    background:rgba(0, 0, 0, 0.6);
    border:1px solid rgba(255, 255, 255, 0.6);
    z-index:300;
    border-radius:3px;
}
.linkme {
    -moz-box-shadow:inset 0px 10px 10px 5px #fed897;
    -webkit-box-shadow:inset 0px 10px 10px 5px #fed897;
    box-shadow:inset 0px 10px 10px 5px #fed897;
    background-color:#f6b33d;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eda933;
    display:inline-block;
    color:#ffffff;
    font-family:'Iceberg';
    font-size:15px;
    font-weight:900;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #cd8a15;
}
.linkme:hover {
    background-color:#d29105;
}
.linkme:active {
    position:relative;
    top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
 section article {
    padding: 40px;
}
.icons {
    opacity: .7;
}
.icons:hover {
    width: 60px;
    height: 60px;
    opacity: 1;
    -webkit-transform: blur(10);
    -moz-transform: blur(10);
    -o-transform: blur(10);
    -ms-transform: blur(10);
    transform: blur(10);
    -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.icons {
    display: inline-block;
	text-align: center;
}
.center {
    text-align: center;
}
#title {
    text-align: center;
    color: white;
    font-family:'La Belle Aurore', cursive;
}
#title hover {
    color:orange;
}