body {
    font-family:'Josefin Slab';
    color: #ffffff;
    font-size: 20px;
    margin:0px auto;
    padding:30px;
    vertical-align: middle;
	background: #eeeeee;
	background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: linear-gradient(top, #eeeeee, #cccccc 100%);
	background-attachment:fixed;
	text-align: center;
}
h1 {
    text-shadow: 3px 3px 10px #f8b74f;
    font-weight: 800;
    font-size: 210%;
    font-family:'Fugaz One', cursive;
}
h2 {
	text-shadow: 2px 2px 7px #f8b74f;
    font-weight: 300;
    font-size: 150%;
    font-family:'Fugaz One', cursive;
}

h3 {
	text-align: justify;
	font-family:'Josefin Slab';
	padding:30px;
	font-size: 125%;
}
h4 {
	font-family:'Josefin Slab';
	padding:30px;
	font-size: 125%;
	font-weight: 600;
}
p {
    text-align:center;
    padding:30px;
}
section {
    height: 1000px;
	background-color: #00ccff;
    border: 10px solid #f6b33d;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -moz-box-shadow: 0px 0px 5px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px 5px #000000;
    box-shadow: 0px 0px 5px 5px #000000;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#4a81ff', endColorstr='#000000');
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#4a81ff', endColorstr = '#000000')";
    background-image: -moz-linear-gradient(left, #00ccff, #000000);
    background-image: -ms-linear-gradient(left, #00ccff, #000000);
    background-image: -o-linear-gradient(left, #00ccff, #000000);
    background-image: -webkit-gradient(linear, left top, right top, from(#00ccff), to(#000000));
    background-image: -webkit-linear-gradient(left, #00ccff, #000000);
    background-image: linear-gradient(left, #00ccff, #000000);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: alpha(opacity=30);
}
#about {
    z-index: 200;
}
#projects {
    z-index: 201;
}
#skills {
    z-index: 202;
}
#resume{
    z-index: 203;
}
#contact{
    z-index: 204;
}
#progress {
	position: fixed;
	height:1%;
	background:#444;
	bottom:0;
	z-index:250;
}
ul
{
    list-style-type: none;
}
#navigationMap{
	position: fixed;
	right:90px;
	bottom:20px;
	width: 140px;
	height:50px;
	z-index: 999;
}
#navigationMap ul li a{
	background: #f6b33d;
	height:15px;
	width: 15px;
	border:5px solid #fff;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	position: fixed;
}
#navigationMap ul li :hover{
	background:#fff;
    height:15px;
	width: 15px;
	border:5px solid #f6b33d;
	border-radius:5px;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
#navigationMap .pr {
  margin-left: 25px; 
  }
#navigationMap .sk {
  margin-left: 50px; 
  }
#navigationMap .re {
  margin-left: 75px; 
  }
#navigationMap .co {
  margin-left: 100px; 
  }
.linkme {
    -moz-box-shadow:inset 0px 10px 10px 5px #fed897;
    -webkit-box-shadow:inset 0px 10px 10px 5px #fed897;
	-o-box-shadow:inset 0px 10px 10px 5px #fed897;
    box-shadow:inset 0px 10px 10px 5px #fed897;
    background-color:#f6b33d;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
	-o-border-radius:6px;
    border-radius:6px;
    border:1px solid #eda933;
    display:inline-block;
    color:#ffffff;
    font-family:'Iceberg';
    font-size: 100%;
    font-weight:900;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #cd8a15;
}
.linkme :hover {
    background-color:#d29105;
}
.linkme :active {
    position:relative;
    top:1px;
}
#past#present#future {
	float: left; 
	width: 33%;
}
.drop {
	background:#f6b33d;
	width: 200px;
	height: auto;
	border: 2px solid #fff;
	font-family:'Iceberg';
    font-size: 100%;
    font-weight:400;
	-moz-box-shadow 5px 5px 5px #000;
    -webkit-box-shadow 5px 5px 5px  #000;
	-o-box-shadow 5px 5px 5px #000;
    box-shadow 5px 5px 5px #000;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
  transform: skew(20deg);
	-webkit-transition: all 1s cubic-bezier(0.46,0.46,0.28,1.38);
	-moz-transition: all 1s cubic-bezier(0.46,0.46,0.28,1.38);
	-o-transition: all 1s cubic-bezier(0.46,0.46,0.28,1.38);
    transition: all 1s cubic-bezier(0.46,0.46,0.28,1.38);
}
table {
    margin: 0 auto; 
  }
 section article {
    padding: 40px;
}
.icons {
    opacity: .7;
}
.icons:hover {
    width: 60px;
    height: 60px;
    opacity: 1;
    -webkit-transform: blur(10);
    -moz-transform: blur(10);
    -o-transform: blur(10);
    -ms-transform: blur(10);
    transform: blur(10);
    -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.icons {
    display: inline-block;
	text-align: center;
}
#title {
    text-align: right;
    color: white;
    border: 2px #f6b33d;
    font-family:'La Belle Aurore', cursive;
}
#title :hover {
    color:#f6b33d;
    border: 2px white;
}